@using BR.ToteToToe.Web.Helpers

@model BR.ToteToToe.Web.ViewModels.SignInConfirmEmailViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Please confirm your email address</title>
</head>

<body>
<table width="640" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="101" align="left" valign="top"><img src="@Url.ContentAbsUrl(Links.Images.totetotoe_logo_gif)" alt="Tote To Toe logo" width="87" height="93"></td>
    <td width="539" align="right" valign="top"><table width="539px" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1pt solid #d1d1d0; width: 539px; border-collapse: separate; line-height: 0; text-align: center;">
      <tr>
        <td height="219" valign="top" bgcolor="#FFFFFF" style="line-height: 12px"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="96%" align="left" valign="top" bgcolor="#91d4d2" style="padding-left: 30px; padding-top: 35px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 25px; color: #006666;">Please confirm your email address</td>
            <td width="4%" align="right" valign="top" bgcolor="#91d4d2"><img src="@Url.ContentAbsUrl(Links.Images.spacer_gif)" width="20" height="93"></td>
            </tr>
          <tr>
            <td colspan="2" align="center" valign="top"><img src="@Url.ContentAbsUrl(Links.Images.dotted_line_gif)" width="539" height="3"></td>
            </tr>
          <tr>
            <td colspan="2" align="left" valign="top" style="padding-left: 30px; padding-top:25px; padding-right:20px"><span style="color: #000000; font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 20px; font-weight: bold;">@Model.User.FirstName @Model.User.LastName , confirming your email address will give you full access to Tote-To-Toe and help you enjoy safe and hassle free shopping!<br>
              <br>
            </span><a href="@Url.ActionAbsolute(MVC.SignIn.ConfirmEmail(Model.User.EmailToken, Model.User.Email))"><img src="@Url.ContentAbsUrl(Links.Images.confirm_email_gif)" alt="Confirm your email address" width="324" height="46"></a><br>
                <br>
                <span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">If the button doesn&rsquo;t work, you can click <a href="@Url.ActionAbsolute(MVC.SignIn.ConfirmEmail(Model.User.EmailToken, Model.User.Email))">here</a></span>
              <p><br>
              </p></td>
            </tr>
          </table></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td align="left" valign="top" style="padding-left: 30px; padding-top: 18px; padding-right: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #666; line-height:18px;">This email was intended for @Model.User.FirstName @Model.User.LastName.<br>
    &copy; Copyright Tote To Toe. All Rights Reserved.</td>
  </tr>
</table>
</body>
</html>

