<td width="117" height="466" align="right" valign="top">
    <a href="@(Url.Action(MVC.Home.TnC()))">Terms and<br />Conditions</a><br />
    <br />
    <a href="@(Url.Action(MVC.Home.Privacy()))">Privacy<br />Policy</a><br />
    <br />
    <a href="@(Url.Action(MVC.Home.Shipping()))">Shipping</a><br />
    <br />
    <a href="@(Url.Action(MVC.Home.ReturnRefund()))">Returns<br />&amp; Refunds</a><br />
    <br />
    <a href="@(Url.Action(MVC.Home.Payment()))">Payments</a><br />
    <br />
    <a href="@(Url.Action(MVC.Home.SizeGuidelines()))">Size Guideline</a>
</td>