@{
    ViewBag.Title = "TOTE TO TOE : About Us";
}

<div id="wrap"><br />
	<div class="copy">
	  <div class="pic1"><img src="@(Links.Images.about.pic1_jpg)" width="652" height="349" /></div>
      <div class="bgwhite"></div>
      
      <div class="title"><img src="@(Links.Images.about.title_png)" width="539" height="115" /></div>
      <div class="sil"><img src="@(Links.Images.about.sil1_png)" width="418" height="320" /></div>
      <div class="lines1"></div>
      <div class="bodycopy"><span style="font-weight: bold; font-size: 24px;">About Us</span><br />
        <br />
      We are a group of people who are pumped up and honoured bound to institute inspiring classic styling as the way of life.</div>
      <div class="sil2"><img src="@(Links.Images.about.sil2_png)" width="336" height="350" /></div>
      <div class="pic2"><img src="@(Links.Images.about.pic2_jpg)" width="261" height="455" /></div>
      <div class="bodycopy2">
        With oceans of innovative products and designs, it is hard to find and embrace things that really represents us deep down. Things that are inspiring and functional at the same time. 
        <br />
        <br />
        Here at tote to toe, products are carefully put together so that we act as matchmakers for you with brands and designers that speaks to your body language. And most importantly, we also want to make sure that you need not withhold food and rent to own these well made pieces. There are more important things in life than over embellishing the perfect you. 
        <br />
        <br />
        At tote to toe, we believe in a good balance between having a respectable sense of style and good manners where you go. So happy browsing and shopping. And don’t forget to leave behind – if you wish - some constructive and pertinent feed back to better serve you and us. Tell us
      </div>
	</div>
</div>

@section styles
{
    <link href="@(Links.Content.about_css)" rel="stylesheet" type="text/css" />
}