@using BR.ToteToToe.Web.Helpers
@using BR.ToteToToe.Web.ViewModels
@model ShoeDetailsViewModel

<div id="wrap">
    <br />
    <div class="cp">
        Customising Progress&nbsp;&nbsp;<img src="@Url.Content("~/Images/arrow_next.gif")"  width="5" height="8" />
    </div> 
    <a href="@Url.Action("ShoeStyle")" class="Step 1">
        <div class="navstep1">
            <strong>STEP 1:</strong> Shoe Style
        </div>
    </a>&nbsp;&nbsp;
    <a href="@Url.Action("ShoeColour", new { id = Model.CustomizeModel.ID })" class="Step 1">
        <div class="navstep1">
            <strong>STEP 2:</strong> Material & Color
        </div>
    </a>&nbsp;&nbsp;
    <a href="#" class="Step 1">
        <div class="navstep1selected">
            <strong>STEP 3:</strong> Make my Shoe
        </div>
    </a>

    <div class="copy">
        @{
            var mainImagePrefix = string.Format("{0}_{1}_{2}_Main_{3}_", Model.CustomizeModel.Style, Model.CustomizeModel.Type, Model.ModelImage.HeelHeight, Model.ModelImage.Colour);
            var subImagePrefix = string.Format("{0}_{1}_{2}_Sub_{3}_", Model.CustomizeModel.Style, Model.CustomizeModel.Type, Model.ModelImage.HeelHeight, Model.ModelImage.Colour);
        }
        <div id="pic1"><img src="@Url.Content(string.Format("~/Images/Customize/ShoeDetails/{0}1.jpg",mainImagePrefix))" width="413" height="337" /></div>
        <div id="pic2"><img src="@Url.Content(string.Format("~/Images/Customize/ShoeDetails/{0}2.jpg",mainImagePrefix))" width="413" height="337" /></div>
        <div id="pic3"><img src="@Url.Content(string.Format("~/Images/Customize/ShoeDetails/{0}3.jpg",mainImagePrefix))" width="413" height="337" /></div>
        <div id="pic4"><img src="@Url.Content(string.Format("~/Images/Customize/ShoeDetails/{0}4.jpg",mainImagePrefix))" width="413" height="337" /></div>
        <div class="thumbnail1"><a href="#"><img src="@Url.Content(string.Format("~/Images/Customize/ShoeDetails/{0}1.jpg",subImagePrefix))" name="shoe1" width="175" height="175" border="0" id="shoe1" onclick="MM_showHideLayers('pic1','','show','pic2','','hide','pic3','','hide','pic4','','hide')" /></a></div>
        <div class="thumbnail2"><a href="#"><img src="@Url.Content(string.Format("~/Images/Customize/ShoeDetails/{0}2.jpg",subImagePrefix))" name="shoes2" width="175" height="175" border="0" id="shoes2" onclick="MM_showHideLayers('pic1','','hide','pic2','','show','pic3','','hide','pic4','','hide')" /></a></div>
        <div class="thumbnail3"><a href="#"><img src="@Url.Content(string.Format("~/Images/Customize/ShoeDetails/{0}3.jpg",subImagePrefix))" name="shoes3" width="175" height="175" border="0" id="shoes3" onclick="MM_showHideLayers('pic1','','hide','pic2','','hide','pic3','','show','pic4','','hide')" /></a></div>
        <div class="thumbnail4"><a href="#"><img src="@Url.Content(string.Format("~/Images/Customize/ShoeDetails/{0}4.jpg",subImagePrefix))" name="shoes4" width="175" height="175" border="0" id="shoes4" onclick="MM_showHideLayers('pic1','','hide','pic2','','hide','pic3','','hide','pic4','','show')" /></a></div>

        <div class="bodycopy">
            <span style="font-size: 18px">
                @string.Format("{0} {1}", Model.CustomizeModel.Style, Model.CustomizeModel.Type)
            </span>
            <span style="font-size: 10px">
                @string.Format("({0})", Model.ModelImage.SKU)
            </span>
            <br />
	        <span style="color: #666; font-weight: bold; font-size: 14px;">RM @Model.CustomizeModel.Price</span>
            <br />
	      <br />
	      <span style="font-weight: bold">Designer’s comment</span><br />
            @Model.CustomizeModel.Description
        </div>

        <div class="formbox">
            @using(Html.BeginForm())
            {
                @Html.HiddenFor(model=>model.ModelImage.SKU)
                @Html.HiddenFor(model=>model.CustomizeModel.Price)
                
                <text>
                    @*<select name="size" class="dropdown" id="size">
                    <option selected="selected">Size</option>
                        <option>US 4  | UK 3</option>
                        <option>US 5  | UK 4</option>               
                        <option>US 6  | UK 5</option>
                        <option>US 7  | UK 6</option>
                        <option>US 8  | UK 7</option>
                        <option>US 9  | UK 8</option>
                        <option>US 10 | UK 9</option>
                        <option>US 11 | UK 10</option>
                    </select>*@
                    @*@Html.DropDownListFor(model => model.Size, Util.GetList(RefType.CustomizeModelSize, defaultText: "Size", defaultValue: ""), new { @class = "dropdown" })*@
                    @Html.DropDownListFor(model => model.Size, Util.GetList(RefType.Size, defaultValue:"", defaultText:"SIZE"), new { @class="dropdown" })
                    &nbsp;
                    <input name="sizechart" type="button" class="sizechartbutton cancel" id="sizechart" value="SIZE REF." onclick="SizeDialog();">
                    @*<input name="sizechart" type="button" class="sizechartbutton" id="sizechart" value="Size Chart" />*@
                    <br />
                    <br />  
                    <p align="left">
                    &nbsp;
                    <input name="submit" type="submit" class="addtowistlistbutton" value="+ ADD TO WISH LIST" />
                    &nbsp;&nbsp;
                    <input name="submit" type="submit" class="addtobagbutton" value="+ ADD TO BAG" />
                    <p align="left" style="font-size: 12px">
                        Ships in 3-5 business days
                        @*<div class="fb-share-button" data-href="http://www.tote-to-toe.com" data-type="button"></div>*@
                        <div class="fb-share-button" data-href="@Model.ShareUrl" data-type="button"></div>
                    </p>
                    <p align="left" style="font-size: 12px">&nbsp;</p>
                    <p align="left" style="font-size: 12px">&nbsp;          </p>
                    @*<p align="left" style="font-size: 12px">
                    <input name="addtobag3" type="submit" class="sharebutton" id="addtobag3" value="SHARE" />
                    <img src="images/likebtn.gif" width="92" height="30" style="vertical-align:middle" /><br />
                    </p>*@
                    <p align="left" style="font-size: 12px">&nbsp;</p>
                </text>
            }
      </div>
        @Html.Partial("_SizeChart")
    </div>
</div>

@section styles
{
    <link href="@(Links.Content.customise_detail_css)" rel="stylesheet" type="text/css" />
    <link href="@(Links.Content.ttt_css)" rel="stylesheet" type="text/css" />
    <link href="@(Links.Content.form_css)" rel="stylesheet" type="text/css" />
}


@section scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            $("#divsizechart").dialog({
                autoOpen: false,
                title: 'Size Chart',
                width: 800,
                height: 'auto',
                modal: true
            });

            $('#Size option[value=-1]').each(function (i, item) {
                item.disabled = true;
            });

        });

        function SizeDialog() {
            $('#divsizechart').dialog("open");
        }

        function MM_showHideLayers() { //v9.0
            var i, p, v, obj, args = MM_showHideLayers.arguments;
            for (i = 0; i < (args.length - 2) ; i += 3)
                with (document) if (getElementById && ((obj = getElementById(args[i])) != null)) {
                    v = args[i + 2];
                    if (obj.style) { obj = obj.style; v = (v == 'show') ? 'visible' : (v == 'hide') ? 'hidden' : v; }
                    obj.visibility = v;
                }
        }

    </script>
}

@section fbheader
{
    <meta property="fb:app_id" content="267986850024373" />
    <meta property="og:title" content="Designer comment" />
    <meta property="og:url" content="http://www.tote-to-toe.com/Customize/ShoeDetails?sku=@Model.ModelImage.SKU" />
    <meta property="og:description" content="@Html.Raw(Model.CustomizeModel.Description)" />
}